* text=auto eol=lf

*.sh text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

gradlew text eol=lf
gradlew.bat text eol=crlf

*.json text eol=lf
*.md text eol=lf
*.properties text eol=lf

*.png binary
*.jar binary
